body{
  font-family: sans-serif;
  width: 80%;
}

li:visited {
  color: pink;
}

.introduction {
  margin: 50px 30px;
}

.content {
  margin: 50px 30px;
}

a{
  color: black;
}

a:hover {
  text-decoration: underline;
  color: navy; {
}
