body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
  width: 30%;
  margin:0 auto;
  width:600px;
  height:200px;
}

nav{
  margin: 10px 30px 50px 30px;
  text-align: left;
}

li:visited {
  color: pink;
}

.introduction {
  margin: 10px 30px 50px 30px;
}

.content {
  margin: 50px 30px;
}

a{
  color: black;
}

a:hover {
  text-decoration: underline;
  color: navy; {
}

h1 {
  font-size: 20px;
  line-height: normal;
}

footer {
  margin: 50px 30px;
  width: 10%;
}

button > img {
  margin-left: 10px;
  vertical-align: middle;
}

button{
  border-color: navy;
  background-color: navy;
  color: white;
}
