body {
  padding: 0 30px;
  font-size: 14px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
  width: 30%;
  margin:0 auto;
  width:600px;
  height:200px;
}

nav{
  margin: 10px 30px 50px 30px;
  text-align: left;
}

li:visited {
  color: pink;
}

.introduction {
  margin: 10px 30px 50px 30px;
}

.content {
  margin: 50px 30px;
}

a{
  color: black;
}

a:hover {
  text-decoration: underline;
  color: navy; {
}

h1 {
  font-size: 20px;
  line-height: normal;
}

footer {
  margin: 50px 30px;
  width: 10%;
}

.btn {
    float: left;
    clear: both;
    background: url(imgs/button_left.png) no-repeat;
    padding: 0 0 0 10px;
    margin: 5px 0;
}
.btn a{
    float: left;
    height: 40px;
    background: url(imgs/button_middle.png) repeat-x left top;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.btn span {
    background: url(imgs/button_right.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}
.btn_gray {background-color: #808080;}
.btn_green { background-color: #ADFF2F;}
.btn_blue {background-color: #0000CD;}
.btn_red {background-color: #DC143C;}
